@font-face {
  font-family: "Chicago";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/Chicago.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --screen-bg-color: hsl(219deg 89% 92%);
  --screen-color: hsl(219deg 89% 18%);
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: "Chicago", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  padding: 10px;
  display: flex;
  align-items: center;
}

.banner {
  display: none;
  padding: 20px;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  line-height: 1.75;
}

.banner h1 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

.banner p {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.75;
}

@media only screen and (min-width: 750px) {
  .banner {
    display: block;
  }

  .banner-login:link,
  .banner-login:visited {
    display: inline-block;
    padding: 10px 48px;
    background-color: #1db954;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
  }

  .banner-login:hover {
    background-color: #1aa049;
  }
}

.login-container {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.login-button,
.login-pic {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.logout-button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: black;
}

.spotify-logo:hover {
  opacity: 0.9;
}

.ipod {
  width: calc(2.4px * 110);
  height: calc(4.1px * 110);
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: hsl(0, 0%, 95%);
  box-shadow: -1px 0px 10px hsl(0, 0%, 0%) inset;

  /* non-standard fun */
  -webkit-box-reflect: below 0
    linear-gradient(transparent, rgba(255, 255, 255, 0.384));
}

.screen-container {
  width: 185px;
  height: 146px;
  padding: 2px;
  border: 3px solid hsl(0deg 0% 28%);
  border-radius: 6px;
}

.screen {
  width: 100%;
  height: 100%;
  font-family: "Chicago", monospace;
  font-size: 14px;
  background-color: var(--screen-bg-color);
  color: var(--screen-color);
}

.screen-header {
  margin-bottom: 1px;
  border-bottom: 2px solid var(--screen-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon {
  min-width: 20px;
  height: 20px;
}

.header-icon .icon {
  fill: var(--screen-color);
}

.icon.play,
.icon.pause {
  width: 10px;
  margin-left: 5px;
  margin-top: 4px;
}

.screen-content {
  height: 114px;
}

.screen-menu-container {
  height: 114px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--screen-color) var(--screen-bg-color);
}

.screen-menu-container::-webkit-scrollbar {
  width: 9px;
}

.screen-menu-container::-webkit-scrollbar-track {
  background: var(--screen-bg-color);
}

.screen-menu-container::-webkit-scrollbar-thumb {
  background-color: var(--screen-color);
  border: 1px solid var(--screen-bg-color);
}

.screen-menu {
  list-style: none;
}

.menu-item {
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item .cheveron-right {
  height: 10px;
  min-width: 6px;
  fill: var(--screen-color);
}

.menu-item.is-active {
  color: var(--screen-bg-color);
  background-color: var(--screen-color);
}

.menu-item.is-active .cheveron-right {
  fill: var(--screen-bg-color);
}

.not-found {
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-playing {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.now-playing .track-count {
  font-size: 0.7rem;
  align-self: flex-start;
  margin-bottom: 4px;
}

.now-playing .track-info {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}

.now-playing .playback {
  height: 8px;
  width: 100%;
  margin-bottom: 2px;
  border: 1px solid var(--screen-color);
  border-radius: 4px;
  position: relative;
}

.now-playing .playback-progress,
.now-playing .playback-volume {
  height: 100%;
  background-color: var(--screen-color);
}

.now-playing .volume-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.now-playing .playback.is-volume {
  margin: 0 4px;
  border-radius: 0px;
}

.now-playing .playback-volume {
  border-radius: 0px;
}

.now-playing .timestamps,
.now-playing .volume-icons {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.now-playing .playback-seek {
  position: absolute;
  top: -7px;
}

.now-playing .timestamps-seek {
  margin-top: 6px;
}

.controls {
  margin-top: 15px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
}

.control {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: tomato;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.2) inset;
  cursor: pointer;
}

.control .icon {
  fill: tomato;
}

.control .icon.playpause {
  height: 18px;
  width: 18px;
}

.control .icon.fast-forward,
.control .icon.rewind {
  height: 22px;
  width: 22px;
}

.wheel {
  margin-top: 15px;
  width: 170px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.2) inset;
  border-radius: 50%;
  cursor: pointer;
}

.wheel-inner {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 1px 1px 4px hsla(0, 0%, 0%, 0.2) inset;
  cursor: pointer;
}

.icon {
  fill: var(--screen-color);
}

.Toastify__toast--success {
  background: #1db954;
}

.Toastify__toast {
  font-family: "Poppins";
  font-weight: 400;
}
