@import url("https://fonts.googleapis.com/css?family=Poppins:400");

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
