.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found p {
  font-size: 0.9rem;
}

.not-found .icon-thumbs-down {
  fill: var(--screen-color);
  height: 35px;
  margin-bottom: 0.5rem;
}
